body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(180, 171, 0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.producto {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 8px;
}

.precio {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}

.btn-whatsapp {
    background: #25D366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}
